.sortContainer {
  display: flex;
  gap: 20px; /* Space between the boxes */
  justify-content: center;
  width: 60%;
  margin: 0 auto; /* Center the sort container */
  align-items: center; /* Center items vertically */
}

