body {
  margin: 0;
  padding: 0;
}

.navbar {
  background: linear-gradient(75deg, #4e54c8 70%, #8f94fb);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.listOfLinks {
  margin: 0 1rem;
}

.listOfLinks a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.listOfLinks a:hover {
  background-color: #555;
  color: #fff;
}

.list_right {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push the list_right container to the right */
}


.loginContainer {
  display: flex;
  align-items: center;
}

.googleButton {
  display: flex;
  align-items: center;
  background-color: white;
  color: #444;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.googleButton img {
  margin-right: 0.5rem;
}

.googleButton:hover {
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}