.navbar {
    background-color: #ff9100;
    padding: 1rem;
  }
  
.list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }

  .list li {
    display: inline;
  }
  
  .list a {
    color: white;
    text-decoration: none;
  }

  .list a:hover{

  }
  
  .button {
    background-color: blue;
    color: white;
    padding: 4px 4px;
    border: green;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: darkblue;
  }
  


  
 