.openButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Increased z-index to ensure overlay is above other elements */
}

.popupContent {
  background: white;
  padding: 20px;
  margin: 10% auto;
  width: 300px;
  border-radius: 8px;
}

.inputGroup {
  margin-bottom: 15px;
}

.genderDropdown {
  width: 100%;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.submitButton,
.cancelButton {
  padding: 8px 12px;
}